<h2>Celebrities</h2>
{{#each celebDB}}
    <div class="celeb">
        <h4>Name: {{name}}</h4>
        <p>Occupation: {{occupation}}</p>
        <p>Catchphrase: {{catchPhrase}}</p>
    </div>
{{/each}}